<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myJob_categoryLabel" jhiTranslate="jobportalApp.job_category.home.createOrEditLabel">Create or edit a Job Category</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!job_category.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="job_category.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jobportalApp.job_category.category" for="field_category">Category</label>
            <input type="text" class="form-control" name="category" id="field_category"
                [(ngModel)]="job_category.category"
            required maxlength="100" />
            <div [hidden]="!(editForm.controls.category?.dirty && editForm.controls.category?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.category?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.category?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 100 }">
                   This field cannot be longer than 100 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jobportalApp.job_category.icon_url" for="field_icon_url">Icon Url</label>
            <input type="text" class="form-control" name="icon_url" id="field_icon_url"
                [(ngModel)]="job_category.icon_url"
            maxlength="200" />
            <div [hidden]="!(editForm.controls.icon_url?.dirty && editForm.controls.icon_url?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.icon_url?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 200 }">
                   This field cannot be longer than 200 characters.
                </small>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
